@forward './grid.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 16px;

    --mode-transition-timing: 300ms ease-in-out;
}

.light {
    --bg-primary: #fff;
    --foreground-primary: #000;

    --bg-primary-rgb: 255, 255, 255;
    --foreground-primary-rgb: 0, 0, 0;
}

.dark {
  --bg-primary: #000;
  --foreground-primary: #fff;

    --bg-primary-rgb: 0, 0, 0;
    --foreground-primary-rgb: 255, 255, 255;
}

.adjust-fill {
  transition: all var(--mode-transition-timing);
  fill: var(--foreground-primary);
}

.mode-transition {
  transition: all var(--mode-transition-timing);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}