@forward './grid.scss';
@use './screen-sizes.scss' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 16px;

    --mode-transition-timing: 300ms ease-in-out;
}

.light {
    --bg-primary: #fff;
    --bg-secondary: #defff2;
    --foreground-primary: #000;
    --foreground-secondary: #504F4F;

    --bg-primary-rgb: 255, 255, 255;
    --foreground-primary-rgb: 0, 0, 0;
}

.dark {
  --bg-primary: #000;
  --bg-secondary: #229e6b;
  --foreground-primary: #fff;
  --foreground-secondary: #d8d8d8;

  --bg-primary-rgb: 0, 0, 0;
  --foreground-primary-rgb: 255, 255, 255;
}

.adjust-stroke,
.adjust-fill,
.adjust-fill-inverted,
.adjust-stroke-inverted {
    transition: all var(--mode-transition-timing);
}

.adjust-stroke {
  stroke: var(--foreground-primary);
}

.adjust-stroke-inverted {
  stroke: var(--bg-primary);
}

.adjust-fill {
  fill: var(--foreground-primary);
}

.adjust-fill-inverted {
  fill: var(--bg-primary);
}

.mode-transition {
  transition: all var(--mode-transition-timing);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hide-s {
  display: none;

  @media screen and (min-width: $md) {
    display: block;
  }
}

ul, ol {
  padding-left: 1rem;
}