@use './screen-sizes.scss' as *;
@use "sass:map";

$gridValues: (
    1: '1',
    2: '2',
    3: '3',
    4: '4',
    5: '5',
    6: '6',
    7: '7',
    8: '8',
    9: '9',
    10: '10',
    11: '11'
);

$gridKeys: (
    grid-col: 'grid-column',
    grid-row: 'grid-row'
);

@mixin add-grid-classes() {
    @each $nameStart, $valueStart in $gridValues {
        @each $nameEnd, $valueEnd in $gridValues {
            @if($nameStart < $nameEnd) {
                .grid-col-#{$nameStart}-#{$nameEnd} {
                    grid-column: #{$nameStart} / #{$nameEnd};
                }
                .grid-row-#{$nameStart}-#{$nameEnd} {
                    grid-row: #{$nameStart} / #{$nameEnd};
                }

                @media screen and (min-width: map.get($screen-sizes, 'm')) {
                    .md-grid-col-#{$nameStart}-#{$nameEnd}.md-grid-col-#{$nameStart}-#{$nameEnd} {
                        grid-column: #{$nameStart} / #{$nameEnd};
                    }
                    .md-grid-row-#{$nameStart}-#{$nameEnd}.md-grid-row-#{$nameStart}-#{$nameEnd} {
                        grid-row: #{$nameStart} / #{$nameEnd};
                    }
                }
            }
        }
    }
};

@include add-grid-classes();