.custom-scrollbar {
  --sb-track-color: #232E33;
  --sb-thumb-color: #06472c;

  scrollbar-width: thin;
  scrollbar-color: var(--sb-thumb-color);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .custom-scrollbar {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}